.container{
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: auto;
    max-width: 2000px;
    margin: 1px 50px 1px 50px;
}


body{
    background-color: darkgray;
}

.slick-slide > div{
    margin: 0 10px;
}

.slick-list{
    margin: 0 -10px;
}

.textos{
    margin:100px auto 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:darkslategray;
    width: 1400px;
    padding: 20px;
    border-radius: 20px;
    min-width: 1000px;
    max-width: 1500px;

}

.slider{
    margin-left: 180px;
    margin-right: 100px;
    min-width: 1100px;
    max-width: 1300px;
}